.manage {
  display: flex;
  .nav {
    flex: 1;
  }
  main {
    flex: 7;
    padding: 10px 40px;
    width: max-content;
    height: 100vh;
    overflow-y: scroll;
    &::-webkit-scrollbar{
      display: none;
    }
  }
}